{% extends "base.html" %}

{% block title %}Area{% endblock %}

{% block register_area %}
<div class="d-flex justify-content-center p-3">
    <div><p class="h3">AREA</p></div>
    <div>
        <form action="/refresh_area" id="refreshArea" method="POST">
            <button class="btn btn-primary ml-3" type="submit">Refresh</button>
        </form>
    </div>
    <div><hr></div>
  </div>
    <div class="d-flex justify-content-center flex-column mx-auto px-5">
        <div class="overflow-auto" style="overflow-y: scroll; height:500px;">
            <table class="table">
                <thead class='thead-dark'>
                  <tr>
                    <th>SSID</th>
                    <th>BSSID</th>
                    <th>Vendor</th>
                    <th>Signal</th>
                    <th>Channels</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}