{% extends "base.html" %}

{% block title %}Control{% endblock %}

{% block control %}
<div class="d-flex justify-content-center p-3">
  <div><p class="h3 mt-5">CONTROL</p></div>
  <div><hr></div>
</div>

<div class="row d-flex align-items-stretch">
  <div class="col-12 col-md-4 p-5">
    <div class="card text-center h-100">
      <div class="card-body">
        <h5 class="card-title">Channel hopper</h5>
        <a id="channelHopper" onload="hopStatus();" onclick="hopControl();"></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 p-5">
    <div class="card text-center h-100">
      <div class="card-body">
        <h5 class="card-title">Change to optimal channel</h5>
        <a id="channelSelector" class="mx-1 btn btn-info btn-lg" onclick="changeChannel(document.getElementById('bestChannel'));">Change</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 p-5">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Change to channel</h5>
        <form action="" id="manualChannel">
          <input class="form-control form-control-lg" type="number" id="channel" min="1" max="13">
          <input type="submit" value="Change" class="mx-1 btn btn-info btn-lg mt-3">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 p-5">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Current channel</h5>
        <p class="card-text" id="currentChannel"></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-5">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Optimal channel</h5>
        <p class="card-text" id="bestChannel"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}