{% extends "base.html" %}

{% block title %}Control{% endblock %}

{% block control %}
<div class="d-flex justify-content-center p-3">
  <div><p class="h3 mt-5">CONTROL</p></div>
  <div><hr></div>
</div>

<div class="d-flex justify-content-center flex-column mx-auto px-5">
  <table class="table">
    <tr">
      <td>Channel hopper</td>
      <td><a id="channelHopper" onload="hopStatus();" onclick="hopControl();"></a></td>
    </tr>
    <tr>
      <td>Change to optimal channel</td>
      <td><a id="channelSelector" class="mx-1 btn btn-info" onclick="changeChannel(document.getElementById('bestChannel'));">Change</a></td>
    </tr>
    <tr>
      <td>Change to channel</td>
      <td>
        <form action="" id="manualChannel">
          <input type="number" id="channel" min="1" max="13">
          <input type="submit" value="Change" class="mx-1 btn btn-info">
        </form>
    </tr>
    <tr>
      <td>Current channel</td>
      <td id="currentChannel"></td>
    </tr>
    <tr>
      <td>Optimal channel</td>
      <td id="bestChannel"></td>
    </tr>
  </table>
</div>
{% endblock %}