{% extends "base.html" %}

{% block title %}Control{% endblock %}

{% block control %}
<div class="d-flex justify-content-center p-3">
  <div><p class="h3">CONTROL</p></div>
  <div><hr></div>
</div>

<div class="d-flex justify-content-center flex-column mx-auto px-5">
  <a id="channelHopper" onload="" onclick=""></a>
  <a id="channelSelector" onload="" onclick=""></a>
  <div><p id="currentChannel" class="h3">Current channel: </p></div>
  <div><p id="bestChannel" class="h3">Best channel: </p></div>
</div>
{% endblock %}