{% extends "base.html" %}

{% block title %}Devices{% endblock %}

{% block register_devices %}
    <div class="d-flex justify-content-center pt-3">
      <div>
        <p class="text-center h3" id="devicesCount">DEVICES</p>
        <input type="text" id="searchDevices" class="m-3 ">
      </div>
      <div><hr></div>
    </div>
    <div class="d-flex justify-content-center flex-column mx-auto px-5">
        <div class="overflow-auto" style="overflow-y: scroll; height:500px;">
            <table class="table sticky-top">
                <thead class='thead-dark'>
                  <tr>
                    <th>MAC</th>
                    <th>Channel</th>
                    <th>Signal</th>
                    <th>Vendor</th>
                    <th>Último</th>
                  </tr>
                </thead>
                <tbody id="devicesList">
                </tbody>
              </table>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-column mx-auto p-5">
      <canvas id="chartCanvasDevices"></canvas>
    </div>
{% endblock %}