{% extends "base.html" %}

{% block title %}Devices{% endblock %}

{% block register_devices %}
    <div class="d-flex justify-content-center pt-3">
      <div>
        <p class="text-center h3" id="devicesCount">DEVICES:</p>
        <input type="text" id="searchDevices" class="m-3 ">
      </div>
      <div><hr></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="overflow-auto table-responsive" style="overflow-y: scroll; height:500px;">
            <table class="table">
                <thead class='thead-dark' style="padding: 1rem;">
                  <tr>
                    <th>MAC</th>
                    <th>Channel</th>
                    <th>Signal</th>
                    <th>Vendor</th>
                    <th>Last seen</th>
                  </tr>
                </thead>
                <tbody id="devicesList">
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-5">
      <div class="row">
        <div class="col-6">
          <canvas id="chartCanvasDevices"></canvas>
        </div>
        <div class="col-6">
          <canvas id="chartCanvasBytes"></canvas>
        </div>
      </div>
    </div>
{% endblock %}