{% extends "base.html" %}

{% block title %}Devices{% endblock %}

{% block register_devices %}
    <div class="d-flex justify-content-center pt-3">
      <div>
        <p class="text-center h3 mt-5" id="devicesCount">DEVICES:</p>
        <input type="text" id="searchDevices" class="m-3 ">
      </div>
      <div><hr></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="overflow-auto table-responsive" style="overflow-y: scroll; height:350px;">
            <table class="table">
                <thead class='thead-dark' style="padding: 1rem;">
                  <tr>
                    <th style="width: 17%">MAC</th>
                    <th style="width: 8%">Channel</th>
                    <th style="width: 10%">Signal</th>
                    <th style="width: 45%">Vendor</th>
                    <th style="width: 20%">Last seen</th>
                  </tr>
                </thead>
                <tbody id="devicesList">
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 col-lg-6 p-5">
        <div class="card text-center h-100">
          <div class="card-body">
            <h5 class="card-title">Devices per channel</h5>
            <canvas id="chartCanvasDevices"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-5">
        <div class="card text-center h-100">
          <div class="card-body">
            <h5 class="card-title">Bytes per channel</h5>
            <canvas id="chartCanvasBytes"></canvas>
          </div>
        </div>
      </div>
    </div>
{% endblock %}