{% extends "base.html" %}

{% block title %}Network{% endblock %}

{% block register_network %}
    <div class="d-flex justify-content-center pt-3">
      <div><p class="h3">NETWORK</p></div>
      <div>
          <form action="/refresh_network" id="refreshNetwork" method="POST">
              <button class="btn btn-primary ml-3" type="submit">Refresh</button>
          </form>
      </div>
      <div><hr></div>
    </div>
    <div class='d-flex justify-content-center p-3'>
      <div class= "dropdown bootstrap-select fit-width">
          <select class="selectpicker" data-live-search="true">
            {% for reg in registry %}
              <option value="{{reg[0]}}" data-tokens='{{reg[0]}}'>{{reg[0]}}</option>
            {% endfor %}
          </select>
      </div>     
    </div>
    <div class="d-flex justify-content-center flex-column mx-auto px-5">
        <div class="overflow-auto" style="overflow-y: scroll; height:500px;">
            <table class="table">
                <thead class='thead-dark'>
                  <tr>
                    <th>MAC</th>
                    <th>Channel</th>
                    <th>Signal</th>
                    <th>Vendor</th>
                  </tr>
                </thead>
                <tbody>
                  {% for reg in registry %}
                  <tr>
                    <td>{{reg[0]}}</td>
                    <td>{{reg[1]}}</td>
                    <td>{{reg[2]}}</td>
                    <td>{{reg[3]}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-column mx-auto px-5">
      <canvas id="chartCanvas"></canvas>
    </div>

    <script>
      var ctx = document.getElementById('chartCanvas').getContext('2d');
  
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [{% for item in channels %}"{{ item }}",{% endfor %}],
          datasets: [
          {% for item in data %}
          {
            label: 'Channel',
            data: {{ item }},
            backgroundColor: '{{ ncolor }}',
            borderColor: '{{ ncolor }}',
            borderWidth: 2,
            fill: true,
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: '{{ ncolor }}',
            pointHoverBorderColor: '{{ ncolor }}',
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            lineTension: 0.4
          },
          {% endfor %}
        ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    </script>
{% endblock %}