{% extends "base.html" %}

{% block title %}Network{% endblock %}

{% block register_network %}
    <div class="d-flex justify-content-center pt-3">
      <div><p class="h3">NETWORK</p></div>
      <div><hr></div>
    </div>
    <div class="d-flex justify-content-center flex-column mx-auto px-5">
        <div class="overflow-auto" style="overflow-y: scroll; height:500px;">
            <table class="table">
                <thead class='thead-dark'>
                  <tr>
                    <th>MAC</th>
                    <th>Channel</th>
                    <th>Signal</th>
                    <th>Vendor</th>
                    <th>Último</th>
                  </tr>
                </thead>
                <tbody>
                  {% for reg in registry %}
                  <tr>
                    <td>{{reg['mac']}}</td>
                    <td>{{reg['channel']}}</td>
                    <td>{{reg['signal']}}</td>
                    <td>{{reg['vendor']}}</td>
                    <td>{{reg['time']}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-column mx-auto px-5">
      <canvas id="chartCanvas"></canvas>
    </div>

    <script>
      function getNetwork() {
          fetch('/api/network')
            .then((response) => {
              return response.json();
            })
            .then((network) => {
              // do something with the data
              console.log(network);
              let networkContainer = document.getElementById("network");
              networkContainer.innerHTML = JSON.stringify(network);
            });
      }
      // call the method getTowers once to get initial data.
      getNetwork();
  
      // call the method getTowers every second. So that the data will be updated.
      setInterval(getNetwork, 1000);
    </script>

    <script>
      var ctx = document.getElementById('chartCanvas').getContext('2d');
  
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [{% for item in channels %}"Channel {{ item }}",{% endfor %}],
          datasets: [
          {% for item in data %}
          {
            label: 'Devices',
            data: {{ item }},
            backgroundColor: '{{ ncolor }}',
            borderColor: '{{ ncolor }}',
            borderWidth: 2,
            fill: true,
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: '{{ ncolor }}',
            pointHoverBorderColor: '{{ ncolor }}',
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            lineTension: 0.4
          },
          {% endfor %}
        ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    </script>
{% endblock %}